.card-showColor {
  background: tomato;
  border: black solid 1px;
  width: 100px;
  margin-left: 30px;
}
.form-group {
  margin: 0 5px 5px 5px;
}
.form-control {
  padding: 2px 10px;
}
.logic-form {
  width: 100%;
}
.pointField {
  display: flex;
}
button {
  margin-top: 20px;
}
span {
  padding-left: 5px;
}
