<form class="logic-form" [formGroup]="form" (submit)="onSubmit()">
  <span>Начальная точка:</span>
  <div class="pointField">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        id="x1__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x1').invalid"
        [formControlName]="'x1'"
        [(ngModel)]="properties[0]"
        placeholder="X1"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        id="y1__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y1').invalid"
        [formControlName]="'y1'"
        [(ngModel)]="properties[1]"
        placeholder="Y1"
      />
    </div>
  </div>

  <span>Конечная точка:</span>
  <div class="pointField">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        id="x2__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x2').invalid"
        [formControlName]="'x2'"
        [(ngModel)]="properties[2]"
        placeholder="X2"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        id="y2__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y2').invalid"
        [formControlName]="'y2'"
        [(ngModel)]="properties[3]"
        placeholder="Y2"
      />
    </div>
  </div>

  <span>Управляющие точки:</span>
  <div class="pointField">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        id="x3__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x3').invalid && form.get('x3').touched"
        [formControlName]="'x3'"
        [(ngModel)]="properties[4]"
        placeholder="X"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        id="y3__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y3').invalid && form.get('y3').touched"
        [formControlName]="'y3'"
        [(ngModel)]="properties[5]"
        placeholder="Y"
      />
    </div>
  </div>
  <div class="pointField">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        id="x4__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x4').invalid && form.get('x4').touched"
        [formControlName]="'x4'"
        [(ngModel)]="properties[6]"
        placeholder="X"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        id="y4__BCurve"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y4').invalid && form.get('y4').touched"
        [formControlName]="'y4'"
        [(ngModel)]="properties[7]"
        placeholder="Y"
      />
    </div>
  </div>

  <span>Параметры:</span>
  <div class="form-group">
    {{ propArr[3] }}
    <input
      (input)="onInput()"
      type="text"
      class="form-control"
      [class.is-invalid]="form.get('width').invalid && form.get('width').touched"
      [formControlName]="'width'"
      [(ngModel)]="properties[8]"
      placeholder="Width"
    />
  </div>

  <div class="form-group">
    {{ propArr[4] }}
    <input
      (change)="onInput()"
      type="color"
      class="form-control"
      [formControlName]="'colorOut'"
      [(ngModel)]="colorLineInput"
    />
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">
      Готово
    </button>
  </div>
</form>
