<div class="logic-form">
  <form class="logic-form" [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        id="x__Rect"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x').invalid"
        [formControlName]="'x'"
        [(ngModel)]="pos[0]"
        placeholder="X1"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        id="y__Rect"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y').invalid"
        [formControlName]="'y'"
        [(ngModel)]="pos[1]"
        placeholder="1"
      />
    </div>

    <div class="form-group">
      {{ propArr[2] }}
      <input
        (input)="onInput()"
        id="w__Rect"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('width').invalid"
        [formControlName]="'width'"
        [(ngModel)]="pos[2]"
        placeholder="X2"
      />
    </div>

    <div class="form-group">
      {{ propArr[3] }}
      <input
        (input)="onInput()"
        id="h__Rect"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('height').invalid"
        [formControlName]="'height'"
        [(ngModel)]="pos[3]"
        placeholder="Y2"
      />
    </div>

    <div class="form-group">
      {{ propArr[4] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('strokeWidth').invalid && form.get('strokeWidth').touched"
        [formControlName]="'strokeWidth'"
        [(ngModel)]="pos[4]"
        placeholder="Stroke-width"
      />
    </div>

    <div class="form-group">
      {{ propArr[5] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('rx').invalid && form.get('rx').touched"
        [formControlName]="'rx'"
        [(ngModel)]="pos[5]"
        placeholder="X-radius"
      />
    </div>

    <div class="form-group">
      {{ propArr[6] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('ry').invalid && form.get('ry').touched"
        [formControlName]="'ry'"
        [(ngModel)]="pos[6]"
        placeholder="Y-radius"
      />
    </div>

    <div class="form-group">
      <input
        (change)="onInput()"
        type="color"
        class="form-control"
        [formControlName]="'colorOut'"
        [(ngModel)]="colorRectOutside"
      />
    </div>

    <label class="form-check">
      <input (change)="fillChange()" id="switchFill" type="checkbox" />
      Заполнение
    </label>

    <div class="form-group">
      <input
        (change)="fillChange()"
        type="color"
        class="form-control"
        [formControlName]="'colorIn'"
        [(ngModel)]="colorRectInside"
      />
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">
        Готово
      </button>
    </div>
  </form>
</div>
