.ge-fields {
  display: flex;
}

.btn-field {
  padding: 10px 0 0 0;
  margin: 2px;
  width: 155px;
  height: 80vh;
  min-height: 50vh;
  min-width: 80px;
  resize: both;
  overflow: auto;
}

.ge-field {
  flex-grow: 10;
  margin: 2px;
}

.logic-field {
  padding: 10px 0 0 0;
  width: 240px;
  margin: 2px;
}
.code-field {
  height: 8vh;
  max-height: 500px;
  bottom: 1px;
  width: 100%;
}
