<app-user-field></app-user-field>

<div class="ge-fields">
  <div class="card btn-field">
    <app-button-field-ge></app-button-field-ge>
  </div>
  <div class="card ge-field">
    <app-graphic-field></app-graphic-field>
  </div>
  <div class="card logic-field">
    <app-logic-field></app-logic-field>
  </div>
</div>
<div class="card code-field">
  <app-code-field></app-code-field>
</div>
