<div class="logic-form">
  <form class="logic-form" [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        id="x1__Line"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x1').invalid"
        [formControlName]="'x1'"
        [(ngModel)]="pos[0]"
        placeholder="X1"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        id="y1__Line"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y1').invalid"
        [formControlName]="'y1'"
        [(ngModel)]="pos[1]"
        placeholder="Y1"
      />
    </div>

    <div class="form-group">
      {{ propArr[2] }}
      <input
        (input)="onInput()"
        id="x2__Line"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x2').invalid"
        [formControlName]="'x2'"
        [(ngModel)]="pos[2]"
        placeholder="X2"
      />
    </div>

    <div class="form-group">
      {{ propArr[3] }}
      <input
        (input)="onInput()"
        id="y2__Line"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y2').invalid"
        [formControlName]="'y2'"
        [(ngModel)]="pos[3]"
        placeholder="Y2"
      />
    </div>

    <div class="form-group">
      {{ propArr[4] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('width').invalid && form.get('width').touched"
        [formControlName]="'width'"
        [(ngModel)]="pos[4]"
        placeholder="Width"
      />
    </div>

    <div class="form-group">
      <input
        (input)="onInput()"
        type="color"
        class="form-control"
        [formControlName]="'color'"
        [(ngModel)]="colorLineInput"
      />
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">
        Готово
      </button>
    </div>
  </form>
</div>
