.card-showColor {
  background: tomato;
  border: black solid 1px;
  width: 100px;
  margin-left: 30px;
}
.form-group {
  margin: 0 10% 15px 10%;
  width: 190px;
}
.form-control {
  padding: 2px 10px;
}
.logic-form {
  width: 240px;
}
