<div class="svg-container" (mousemove)="onMouseMove($event)" (click)="onClick($event)">
  <div id="zoom-field">
    <app-grid class="grid-component"></app-grid>
    <svg id="SVG_Writer" class="svg-element" height="100%" width="100%"></svg>
    <svg id="SVG_Temp"></svg>
    <div id="cursorElement" class="cursor-class">
      <svg class="cursor-class">
        <line x1="12" x2="12" y1="0" y2="24" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line>
        <line x1="0" x2="24" y1="12" y2="12" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line>
      </svg>
    </div>
  </div>
</div>
<div class="d-inline-flex card-position">
  <div>{{ Pos }} Масштаб: {{ zoomSize.toFixed(2) }}</div>
</div>
