:host {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.svg-container {
  /*overflow: hidden;*/
  overflow-x: scroll; /* прокрутка по горизонтали */
  overflow-y: scroll; /* прокрутка по вертикали */
  position: absolute;
  height: 100%;
  width: 100%;
}
#zoom-field {
  transform: scale(1);
  transform-origin: 0% 0% 0px;
}
.card-position {
  pointer-events: none;
  position: relative;
  bottom: 25px;
}
#SVG_Writer {
  pointer-events: none;
  width: 2000px;
  height: 2000px;
  position: absolute;
}
#SVG_Temp {
  pointer-events: none;
  width: 2000px;
  height: 2000px;
  position: absolute;
}

.cursor-class {
  pointer-events: none;
  position: absolute;
}

.grid-component {
  pointer-events: none;
  position: absolute;
}
