._404-img {
  position: absolute;
  left: 4%;
  top: 100px;
}

._404-text1 {
  position: absolute;
  top: 150px;
  left: 70%;
  font-size: 50px;
  color: white;
}

._404-text2 {
  position: absolute;
  top: 250px;
  left: 58%;
  font-size: 20px;
  color: white;
  width: 38%;
}
.btn {
  position: absolute;
  top: 400px;
  left: 68%;
  border: solid 1px white;
  color: white;
}
