<div class="_404-img">
  <img src="../../../assets/Images/Edinorog.svg" />
</div>
<div>
  <div class="_404-text1">404</div>
  <div class="_404-text2">Ты увидел этого милого единорожка, пошел за ним в темный лес и заблудился...</div>
  <button class="btn" routerLink="/">На главную</button>
</div>
