.col-lg-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.form-styles {
  width: 50vw;
}

.btn {
  margin-right: 30px;
}

.btn-return {
  position: absolute;
  right: 0;
  top: 10px;
}
.title {
  width: 50vw;
}
