<button class="btn btn-return btn-light" routerLink="/">
  На главную
</button>

<div class="col-lg-8">
  <h1 class="title">Регистрация</h1>
  <form [formGroup]="form" (submit)="onSubmit()" class="form-styles">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('name').invalid && form.get('name').touched"
        [formControlName]="'name'"
        placeholder="Введите имя"
      />
    </div>
    <div class="text-danger errorMassage" *ngIf="form.get('name').hasError('minlength')">
      Минимальная длина — 3
    </div>
    <div class="text-danger errorMassage" *ngIf="form.get('name').hasError('maxlength')">
      Максимальная длина — 80
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('surname').invalid && form.get('surname').touched"
        [formControlName]="'surname'"
        placeholder="Введите фамилию"
      />
    </div>
    <div class="text-danger errorMassage" *ngIf="form.get('surname').hasError('minlength')">
      Минимальная длина — 3
    </div>
    <div class="text-danger errorMassage" *ngIf="form.get('surname').hasError('maxlength')">
      Максимальная длина — 80
    </div>

    <div class="form-group">
      <input
        type="email"
        class="form-control"
        [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
        [formControlName]="'email'"
        placeholder="Введите email"
      />
    </div>
    <div class="text-danger errorMassage" *ngIf="form.get('email').hasError('pattern')">
      Такого e-mail не существует
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        [class.is-invalid]="
          form.get('password').invalid && form.get('confirmPassword').value !== form.get('password').value
        "
        [formControlName]="'password'"
        placeholder="Введите пароль"
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        [class.is-invalid]="
          form.get('confirmPassword').invalid &&
          form.get('confirmPassword').value !== form.get('password').value &&
          form.get('confirmPassword').touched
        "
        [formControlName]="'confirmPassword'"
        placeholder="Введите пароль повторно"
      />
    </div>
    <div class="text-danger errorMassage" *ngIf="form.get('confirmPassword').value !== form.get('password').value">
      Пароли не совпадают
    </div>
    <label>
      <input type="checkbox" [class.is-invalid]="!form.get('agree').value" [formControlName]="'agree'" />
      <span class="card-body">Нажму, но читать не буду!</span>
    </label>

    <div class="form-group">
      <button type="submit" [disabled]="form.pristine || form.invalid" class="btn btn-success btn-block">
        Готово
      </button>
    </div>
  </form>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>
