<input id="gridInput" type="number" class="form-control" value="20" />
<label class="form-check">
  <input id="gridInputStick" type="checkbox" />
  <svg id="magnet">
    <rect x="5" y="4" width="13" height="11" stroke="#000000" stroke-width="2" rx="2" ry="2" fill="#e81e23"></rect>
    <rect x="17" y="4" width="12" height="11" stroke="#000000" stroke-width="2" rx="2" ry="2" fill="#6066df"></rect>
  </svg>
</label>
<div class="btn-flex">
  <button class="btn btn-dark" (click)="onClickReset()">
    <svg>
      <polygon
        points="12,44 23,33 40,29 12,7 12,22"
        y2="undefined"
        stroke="orangered"
        stroke-width="4"
        stroke-linecap="round"
        fill="#ffb66c"
      ></polygon>
      <polygon
        points="10,48 10,4 44,30 24,34"
        y2="undefined"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
        fill="none"
      ></polygon>
      <polygon
        points=" 14,39 14,11 35,28 22,31"
        y2="undefined"
        stroke="#000000"
        stroke-width="1"
        stroke-linecap="round"
        fill="none"
      ></polygon>
    </svg>
  </button>

  <button class="btn btn-dark" (click)="onClickLine()">
    <svg>
      <line x1="40" x2="10" y1="40" y2="10" stroke="#ffb66c" stroke-width="3" stroke-linecap="round"></line>
      <circle cx="10" cy="10" r="3" stroke="#000000" stroke-width="2" fill="orangered"></circle>
      <circle cx="40" cy="40" r="3" stroke="#000000" stroke-width="2" fill="orangered"></circle>
    </svg>
  </button>

  <button class="btn btn-dark" (click)="onClickRect()">
    <svg>
      <rect x="3" y="3" width="42" height="42" rx="10" ry="5" stroke="#000000" stroke-width="2" fill="orangered"></rect>
      <rect x="8" y="8" width="32" height="32" rx="10" ry="5" stroke="#000000" stroke-width="2" fill="#ffb66c"></rect>
    </svg>
  </button>

  <button class="btn btn-dark" (click)="onClickCircle()">
    <svg>
      <circle cx="24" cy="24" r="20" stroke="#000000" stroke-width="2" fill="orangered"></circle>
      <circle cx="24" cy="24" r="15" stroke="#000000" stroke-width="2" fill="#ffb66c"></circle>
    </svg>
  </button>

  <button class="btn btn-dark" (click)="onClickPolygon()">
    <svg>
      <polygon
        points="8,8 12,40 35,8 40,40"
        y2="undefined"
        stroke="orangered"
        stroke-width="4"
        stroke-linecap="round"
        fill="#ffb66c"
      ></polygon>
      <polygon
        points="13,35 11,14 21,24"
        y2="undefined"
        stroke="#000000"
        stroke-width="1"
        stroke-linecap="round"
        fill="none"
      ></polygon>
      <polygon
        points=" 26,23 34,13 37,34"
        y2="undefined"
        stroke="#000000"
        stroke-width="1"
        stroke-linecap="round"
        fill="none"
      ></polygon>
      <polygon
        points="11,46 24,27 43,46 36,3 24,20 24,21 5,2"
        y2="undefined"
        stroke="#000000"
        stroke-width="1"
        stroke-linecap="round"
        fill="none"
      ></polygon>
    </svg>
  </button>
  <button class="btn btn-dark" (click)="onClickBCurve()">
    <svg>
      <path d="M5 5 C 15 50, 35 50, 45 5" stroke="orangered" fill="transparent" stroke-width="3px"></path>
    </svg>
  </button>
</div>
