:host {
  display: block;
  padding: 10px;
}

button {
  margin: 5px;
  width: 55px;
  height: 55px;
  padding: 2px;
}

.btn-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
svg {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0;
}

#gridInput {
  width: 100%;
}
.form-check {
  padding: 5px;
}
#magnet {
  height: 25px;
  width: 30px;
  position: relative;
}
