<div class="logic-form">
  <form class="logic-form" [formGroup]="form" (submit)="onCreatePolygon()">
    <div class="form-group">
      {{ propArr[0] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('x').invalid"
        [formControlName]="'x'"
        [(ngModel)]="pos[0]"
        placeholder="X"
      />
    </div>

    <div class="form-group">
      {{ propArr[1] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('y').invalid"
        [formControlName]="'y'"
        [(ngModel)]="pos[1]"
        placeholder="Y"
      />
    </div>

    <div class="form-group">
      <div (click)="onSubmit()" class="btn btn-success btn-block">
        Готово
      </div>
    </div>

    <div class="form-group">
      {{ propArr[2] }}
      <input
        (input)="onInput()"
        type="text"
        class="form-control"
        [class.is-invalid]="form.get('width').invalid && form.get('width').touched"
        [formControlName]="'width'"
        [(ngModel)]="pos[2]"
        placeholder="Width"
      />
    </div>

    <div class="form-group">
      <input
        (change)="onInput()"
        type="color"
        class="form-control"
        [formControlName]="'colorOut'"
        [(ngModel)]="colorPolygonOutside"
      />
    </div>

    <label class="form-check">
      <input (change)="fillChange()" id="switchPolygonFill" type="checkbox" />
      Заполнение
    </label>

    <div class="form-group">
      <input
        (change)="fillChange()"
        type="color"
        class="form-control"
        [formControlName]="'colorIn'"
        [(ngModel)]="colorPolygonInside"
      />
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">
        Завершить
      </button>
    </div>
  </form>
</div>
