<form class="logic-form" [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    {{ propArr[0] }}
    <input
      (input)="onInput()"
      id="x__Circle"
      type="text"
      class="form-control"
      [class.is-invalid]="form.get('x').invalid"
      [formControlName]="'x'"
      [(ngModel)]="pos[0]"
      placeholder="X"
    />
  </div>

  <div class="form-group">
    {{ propArr[1] }}
    <input
      (input)="onInput()"
      id="y__Circle"
      type="text"
      class="form-control"
      [class.is-invalid]="form.get('y').invalid"
      [formControlName]="'y'"
      [(ngModel)]="pos[1]"
      placeholder="Y"
    />
  </div>

  <div class="form-group">
    {{ propArr[2] }}
    <input
      (input)="onInput()"
      id="r__Circle"
      type="text"
      class="form-control"
      [class.is-invalid]="form.get('r').invalid"
      [formControlName]="'r'"
      [(ngModel)]="pos[2]"
      placeholder="R"
    />
  </div>

  <div class="form-group">
    {{ propArr[3] }}
    <input
      (input)="onInput()"
      type="text"
      class="form-control"
      [class.is-invalid]="form.get('width').invalid && form.get('width').touched"
      [formControlName]="'width'"
      [(ngModel)]="pos[3]"
      placeholder="Width"
    />
  </div>

  <div class="form-group">
    <input
      (change)="onInput()"
      type="color"
      class="form-control"
      [formControlName]="'colorOut'"
      [(ngModel)]="colorCircleOutside"
    />
  </div>

  <label class="form-check">
    <input (change)="fillChange()" id="switchFill" type="checkbox" />
    Заполнение
  </label>

  <div class="form-group">
    <input
      (change)="fillChange()"
      type="color"
      class="form-control"
      [formControlName]="'colorIn'"
      [(ngModel)]="colorCircleInside"
    />
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">
      Готово
    </button>
  </div>
</form>
