:host {
  display: block;
}
.btn-properties {
  margin: 2px 4px 15px 4px;
}
.btn-properties-2 {
  margin: 4px 10px;
  padding: 3px 10px 5px 10px;
}
.contentContainer {
  width: 77vw;
  height: 100vh;
  overflow-x: scroll; /* прокрутка по горизонтали */
  overflow-y: scroll; /* прокрутка по вертикали */
  position: relative;
}

.nameElement {
  margin: 4px 10px;
  padding: 3px 10px 5px 10px;
  color: rgba(221, 159, 22, 0.96);
  overflow: hidden;
  border: outset 2px #dfba1d;
}
.nameElement:hover {
  background: orange;
  color: black;
}
.nameContainer {
  padding: 0 0 10px 0;
  overflow-y: scroll; /* прокрутка по вертикали */
  width: 250px;
  height: 100vh;
}
svg {
  height: 2000px;
  width: 2000px;
}
.nameElement:hover .delete-btn {
  right: 5px;
}
.delete-btn {
  background: red;
  border: black 2px solid;
  position: absolute;
  right: -40px;
  transition: all 0.2s;
  opacity: 0.5;
  cursor: pointer;
}
.delete-btn:hover {
  opacity: 1;
}
.delete-btn:active {
  opacity: 0.7;
}
.loader {
  height: 80px;
  padding-left: 50px;
}
