<div class="d-inline-flex">
  <div class="nameContainer card">
    <button class="btn btnTemp badge-light btn-properties" routerLink="/">
      Вернуться к редактору
    </button>

    <div class="card nameElement" (click)="onClick(drawing)" *ngFor="let drawing of drawings; let index">
      {{ drawing.name }}
      <span class="badge badge-danger delete-btn" (dblclick)="onDeleteClick(index)">&times;</span>
    </div>

    <button
      class="btn btnTemp btn-success btn-properties-2"
      [disabled]="chooseContent == null"
      (click)="download()"
      routerLink="/"
    >
      Загрузить
    </button>
    <div class="loader" *ngIf="requestExplaining">
      <img src="../../../../assets/Images/tail-spin.svg" />
      {{ errorNetWorkMassage }}
    </div>
  </div>

  <div class="contentContainer">
    <svg id="SVG_Saved"></svg>
  </div>
</div>
