<div>
  <app-line-form *ngIf="lineActive"></app-line-form>
  <app-circle-form *ngIf="circleActive"></app-circle-form>
  <app-rect-form *ngIf="rectActive"></app-rect-form>
  <app-polygon-form *ngIf="polygonActive"></app-polygon-form>
  <app-bcurve-form *ngIf="BCurveActive"></app-bcurve-form>
</div>
