:root {
  --div-gridSize: 150px; /* the default */
}

footer {
  position: absolute;
  width: 2000px;
  height: 2000px;
  box-shadow: 1px 1px 3px #333;
  background-image: linear-gradient(rgba(100, 100, 100, 0.33) 1px, transparent 1px),
    linear-gradient(90deg, rgba(100, 100, 100, 0.54) 1px, transparent 1px);
  background-size: var(--div-gridSize) var(--div-gridSize), var(--div-gridSize) var(--div-gridSize);
  background-position: -1px -1px, -1px -1px;
}
