.userField {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
}

.btnTemp {
  margin-right: 10px;
  padding: 0 5px;
  height: 5vh;
}

.createEl {
  padding-left: 40vw;
  display: flex;
}
.form-createEl {
  width: 250px;
  margin: 0;
}
.btnCreateEl {
  margin: 0 0 20px 20px;
  height: 50px;
}
.loader {
  height: 40px;
  position: absolute;
  margin: 10px;
}
.projName {
  margin-right: 30px;
}
