<div *ngIf="activeLoader" class="loader">
  <img src="../../../../assets/Images/tail-spin.svg" />
</div>
<div class="userField">
  <div *ngIf="!(user$ | async); else logout">
    <button class="btn btnTemp badge-light" routerLink="/registration">
      Регистрация
    </button>

    <button class="btn btnTemp badge-light" routerLink="/login">
      Вход
    </button>
  </div>
</div>

<ng-template #logout>
  <button class="btn btnTemp badge-light" (click)="onLogout()">
    Выход
  </button>

  <button class="btn btnTemp badge-light" routerLink="/saving">
    Загрузить
  </button>
  <button class="btn btnTemp badge-light" (click)="onClear()">
    Очистить
  </button>
  <button class="btn btnTemp badge-light" (click)="createEl()">
    Создать
  </button>
  <button class="btn btnTemp badge-light" (click)="onSaveClick()">
    Сохранить
  </button>
  <div>
    <div class="user">{{ (user$ | async)?.email }}</div>

    <div class="card-group projName">Project name: {{ projectName }}</div>
  </div>
</ng-template>

<div class="createEl" *ngIf="createElForm">
  <label>
    <input type="text" id="createElInput" class="form-control form-createEl" />
  </label>
  <button class="btn btnCreateEl badge-light" (click)="createElSubmit()">
    Ok
  </button>
  <button class="btn btn-danger btnCreateEl badge-light" (click)="cancelElSubmit()">
    Отмена
  </button>
</div>
